QMainWindow {
  /* height: 100%;
  width: 100%; */
  background-color: #212121;
}

QPixMap {
  height: 90%;
  width: 90%;
}

QPushButton {
  text-align: center;
  background-color: #424242;
  color: white;
  font-size: 14px;
  height: 30%;
  width: 30%;
}

QLabel {
  font-size: 16px;
  color: white;
  text-align: center;
}

QLineEdit {
  background-color: #424242;
  color: white;
  font-size: 16px;
  border-color: #303030;
}

QTableView {
  background-color: #303030;
}

QScrollArea {
  background-color: #303030;
}